.update{
    min-height: 100vh !important;
    min-width: 100vw !important;
}

.bg-black{
    background: #35393d !important;
    color: whitesmoke !important;
}

.curved-border{
    border-radius: 20px !important;
}

.header-margin-align{
    margin-left: -15px !important;
    margin-right: -12px !important;
}

.sticky-left{
    position: -webkit-sticky;
    position: sticky !important;
    top: 10%;
}

/**
css thumb:
**/


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #35393d;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.785); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0000002c; 
  }